.center {
  position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.padding-vertical {
    padding-left: 16px;
    padding-right: 16px;
}

.half-padding-horizontal {
    padding-top: 8px;
    padding-bottom: 8px;
}
